{% extends 'base.html' %}


{% block title %}
Lista empleados por departamento
{% endblock title %}


{% block body %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <div class="cell">Empleados por area:</div>
        <div class="cell">
            <table>
                <thead>
                    <tr>
                        <th width="200">ID</th>
                        <th>NOMBRES</th>
                        <th width="150">APELLIDOS</th>
                        <th width="150">DEPARTAMENTO</th>
                        <th width="150">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>

                    {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.first_name }}</td>
                        <td>{{ empleado.last_name }}</td>
                        <td>{{ empleado.departamento.name }}</td>
                        <td><a class="button warning"
                                href="{% url 'empleado_app:empleado_detalle' empleado.id %}">Ver</a></td>
                        <!-- Assi se especifica la ruta con parametro en una vista -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}